body {
    background-color: #060c21;
    font-family: 'Poppins',sans-serif;
}

.Heading{
    text-transform: uppercase;
    display: block;
    text-align: center;
    width:100%;
}

.heading1{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.heading2{
    font-size: 30px;
}

.container-fluid{
    padding: 0 !important;
}

.items{
    -webkit-box-shadow: -1px 2px 101px -48px rgba(12,105,245,1);
    -moz-box-shadow: -1px 2px 101px -48px rgba(12,105,245,1);
    box-shadow: -1px 2px 101px -48px rgba(12,105,245,1);
}