.Heading{
    text-transform: uppercase;
    display: block;
    text-align: center;
    width:100%;
    padding: 3em;
    padding-top: 2.5em;
    background-color: #1ABC9C;
    min-height: 100vh;
}

.heading1{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.heading2{
    font-size: 35px;
}

.subheading{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.container-fluid{
    padding: 0 !important;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
    color: #2c3e50 !important;
    font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff !important;
}

.divodd{
    padding: 2em;
    min-height: 100vh;
}

.diveven{
    padding: 2em;
    background-color: #1ABC9C;
}

.txt{
    font-size: 1.5rem;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    font-family: 'Poppins',sans-serif;
  }
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
    background: #333;
}

.wrapper .button:nth-child(2):hover .icon{
  background: #0E76A8;
}

.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}


.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
