body {
    background-color: #060c21;
    font-family: 'Poppins',sans-serif;
}

.Heading{
    text-transform: uppercase;
    display: block;
    text-align: center;
    width:100%;
    padding: 3em;
    padding-top: 3.5em;
    background-color: #1ABC9C;
}

.heading1{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.heading2{
    font-size: 35px;
}

.subheading{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.container-fluid{
    padding: 0 !important;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
    color: #2c3e50 !important;
    font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff !important;
}

.divodd{
    padding: 2em;
}

.diveven{
    background-color: #1ABC9C;
}

.txt{
    font-size: 1.5rem;
}

